server:
  port: 8082
spring:
  application:
    name: booking-service
  cache:
    type: redis
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/platform}
    username: ${DB_USER:platform}
    password: ${DB_PASSWORD:platform}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    timeout: 10000ms
    connect-timeout: 10000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 1
        max-wait: 10000ms
      shutdown-timeout: 200ms
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8080/realms/app}
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
services:
  resource-service:
    url: ${RESOURCE_SERVICE_URL:http://file-service:8081}
app:
  queue: ${APP_QUEUE:booking-notifications}

